fastapi
uvicorn[standard]
pydantic
langgraph
langchain-core
python-multipart
pypdf
PyJWT
python-dotenv
langchain-postgres
psycopg[binary,pool]
pgvector
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-google-genai
langgraph-checkpoint-postgres
mem0ai
litellm
duckduckgo-search
